* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
 font-weight: 75;
 margin-left: 1%;
}

h2 {
  margin: 10px 10px 0px 0px;
  font-weight: 75;
  text-align: left;
}

h5,
h3 {
  margin: 0;
  font-weight: 75;
}

.logo {
  font-family: 'Faster One', cursive;
  font-size: 24pt;
  margin: 0;
}

body {
  background-color: rgb(133,216,223)
  font-family: Arial;
  background: var(#222222);
  margin: 0;
  color: var(#222222);
}

/* header section */

header {
  display: flex;
  height: 125px;
  background-color: rgb(255,125,118);
}

nav {

  width: 50%;
  color: rgb(66,133,216);
}

ul {
display: flex;
list-style: none;
justify-content: space-around;
padding-left: 0px;
}

li {
  display: flex;
  align-items: center;
}


.menu-bar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 80%;
}

.admin-menu {
  display: flex;
  flex-direction:column;
  width: 20%;
  align-items: center;
}

.admin-menu-text{
display: flex;
align-items: center;

}

.user-login-menu {
  margin-left: 15px;
  margin-right: 5px;
}

.icon {
height: 30px;
width: 30px;
}

.drop-icon {
  height: 15px;
  width: 15px;
  margin-right:25px;
  margin-left: 15px;
}

/* Main Section */

main {
  height: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

/* Cards */

.card {
  display: flex;
  width: 330px;
  height: 400px;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  flex-direction: column;
}

.card-header {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("/Users/justin/Turing/mod2/projects/static-comp-challenge/assets/D8EFC4FD-E753-4003-AA08-CFE5B7962A63_1_105_c.jpeg");
  background-size: 330px ;
}

.photo {
  background-size: contain;
}

.card-header-text {
  color: white;
  text-align: center;
}

.card-main {
  display: flex;
  background-color: ghostWhite;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  
  background-color: #def5f9;
}

.card-div {
  margin-left: 10px;
  margin-right: 10px;
  justify-content: flex-start;
  
}

.card-div-grey {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: flex-start;
  background: lightgray;
}

/* @media screen and (min-width: 480px) {
  body {
    display: grid;
  }

  nav {
  }

  main {

  }
}

@media screen and (min-width: 800px) {
  body {
    display: grid;
  }

  nav {
  }

  main {

  }
} */

